.aircas-card {
  padding: 12px;
  border: 1px solid var(--aircas-color-border);
  border-top: 2px solid rgba($color: #07eaff, $alpha: 0.6);
  border-radius: 4px;
  background: rgba($color: #000e1c, $alpha: 0.82);
  box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.35);
}
